---
layout: default
meta_title: Om
meta_description: About page description
body_class: about
title: Om
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <p>Kommer senere</p>
            <p>But built using <a href="https://www.11ty.dev">11ty site generator</a> and the <a href="https://github.com/josephdyer/skeleventy">Skeleventy template</a></p>
        </div>

    </article>

</main>
