---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Kontakt os 
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">

            <p>Kommer senere</p>
            <p>Men smid en email eller ring</p>

    </article>


</main>

